
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout_CST.cshtml";
}

<h2>AddUser</h2>
<table>
    <tr>
        <td>UserName</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>UserAge</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>UserEmial</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>UserMobile</td>
        <td><input type="text" /></td>
    </tr>
</table>
<br />
<button type="button">Add</button>


