
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout_CST.cshtml";
}

<h2>AddUser</h2>
<div class="container">
    <form method="post" action="/UserList/ProcessAddUser">
        <table>
            <tr>
                <td>UserName</td>
                <td><input type=@Html.TextBox("UserName")</td>
            </tr>
            <tr>
                <td>UserAge</td>
                <td><input type=@Html.TextBox("UserAge")</td>
            </tr>
            <tr>
                <td>UserEmail</td>
                <td><input type=@Html.TextBox("UserEmail")</td>
            </tr>
            <tr>
                <td>UserMobile</td>
                <td><input type=@Html.TextBox("UserMobile")</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="add user"></td>
            </tr>
        </table>
    </form>
</div>