
@{
    ViewBag.Title = "List";
    Layout = "~/Views/shared/_Layout_CST.cshtml";
}

<h2>List All Users</h2>

@{ 
    string cstStr = ViewData["testStr"].ToString();
    
    <h2>@cstStr</h2>
    <h2>@ViewBag.myName</h2>
    <h3>@TempData["cstName"]</h3>
}