
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Service</h2>
<hr/>
<h1>Welcome to CST College!!!</h1>
<br/>
<style>
    table,th,td{
        border:1px solid black;
    }
</style>

<table style="width:60%">
    <tr>
        <th style="text-align:center">UserID</th>
        <th style="text-align:center">UserName</th>
        <th style="text-align:center">UserPassword</th>
        <th style="text-align:center">UserEmail</th>
        <th style="text-align:center">UserMobile</th>
    </tr>
    <tr>
        <td style="text-align:center">12</td>
        <td style="text-align:center">Tom</td>
        <td style="text-align:center">123.com</td>
        <td style="text-align:center">Tom@gmail.com</td>
        <td style="text-align:center">4168337666</td>
    </tr>
</table>
